/*
    Document   : zeroclickinfo-spice/share/spice/seat_geek/sports/seat_geek_sports．css
    Created on : 2014-11-11 12:32 PM
    Author     : MariagraziaAlastra
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}